In [1]:
import pandas as pd

In [2]:
df_covid = pd.read_csv("data/donnes-hospitalieres-covid19.csv", sep=";", header=0)

In [3]:
df_covid

       dep  sexe        jour  hosp  rea  rad  dc
0       01     0  2020-03-18     2    0    1   0
1       01     1  2020-03-18     1    0    1   0
2       01     2  2020-03-18     1    0    0   0
3       02     0  2020-03-18    41   10   18  11
4       02     1  2020-03-18    19    4   11   6
...    ...   ...         ...   ...  ...  ...  ..
18481  974     1  2020-05-18    10    4   56   0
18482  974     2  2020-05-18     2    0   59   0
18483  976     0  2020-05-18    55   10  178  18
18484  976     1  2020-05-18    31    4   87  12
18485  976     2  2020-05-18    24    6   88   6

[18486 rows x 7 columns]

In [4]:
df_covid.shape

(18486, 7)

In [5]:
df_covid.dtypes

dep     object
sexe     int64
jour    object
hosp     int64
rea      int64
rad      int64
dc       int64
dtype: object

In [8]:
from hdfs import InsecureClient   


#connect to hdfs
hdfs_client = InsecureClient('http://localhost:9870')    

    
#Create directory in HDFS to save file
hdfs_path = '/covid_data'
hdfs_client.makedirs(hdfs_path)


# Write Dataframe to hdfs
with hdfs_client.write(hdfs_path+'/donnes-hospitalieres-covid19.csv', encoding='utf-8') as writer:
    df_covid.to_csv(writer, sep=';')
print("Writing file into hdfs: success.")

Writing file into hdfs: success.

In [21]:
from hdfs import InsecureClient

hdfs_client = InsecureClient('http://localhost:9870')

hdfs_path = "/covid_data"
client_hdfs.makedirs(hdfs_path)

local_path="/Users/thomas/Documents/poe_bigdata/s12_projet_big_data/data/donnes-hospitalieres-covid19.csv"

hdfs_client.upload(hdfs_path, local_path)

'/covid_data/donnes-hospitalieres-covid19.csv'